<h1>Hello World</h1>
<div class="hero">
  <div class="hero-body">
    <h5>Welcome to:</h5>
    <img src="" alt="" class="img-responsive">
    <button class="btn">default button</button>
    <button class="btn btn-primary">primary button</button>
  </div>
</div>